* {
  margin: 0;
  padding: 0;
}
body {
  /* width: 100vh; */
  font-family: "Public Sans";
  font-size: 18px;
  /* overflow-x: hidden; */
}
a {
  text-decoration: none;
}
.top {
  .invite {
    display: none;
  }
  height: 3em;
  position: relative;
  .fig {
    position: absolute;
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    height: 3.5em;
    width: 10em;
    top: 1.3em;
    left: 6%;
  }
  .option {
    background: url("./images/icon-hamburger.svg");
    background-size: 1em;
    height: 20%;
    width: 1em;
    position: absolute;
    right: 10%;
    top: 1.5em;
  }
  .menu {
    height: 18rem;
    padding-top: 2em;
    position: absolute;
    left: 1em;
    right: 1em;
    top: 4em;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1em;
    border-radius: 0.5em;
    display: none;
    border: gray;
    a {
      color: black;
    }
    ul {
      z-index: 0;
      list-style: none;
      padding: 0;
      margin: 0;
      padding-top: 1em;
    }
    li {
      z-index: 0;
      padding-bottom: 1.5em;
    }
  }
  #check {
    position: absolute;
    right: 10%;
    bottom: 35%;
    opacity: 0;
  }
  .option:hover {
    cursor: pointer;
  }
  #check:checked ~ .menu {
    display: inline-block;
    box-shadow: 0rem 5rem 5rem 1rem hsl(233, 26%, 24%);
  }
}
.intro {
  height: 20em;
  /* width: auto; */
  background: url("./images/image-mockups.png"),
    url("./images/bg-intro-mobile.svg");
  background-size: 100%, 100%;
  background-position-y: -10.5rem, -1rem;
  background-repeat: no-repeat;
  /* position: fixed; */
}
.invite {
  color: white;
  height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  background: linear-gradient(to right, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-radius: 25px;
  text-align: center;
  padding-top: 0.5em;
}
.para1 {
  font-size: 1.25em;
  padding-top: 4rem;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
}
#heading {
  color: darkslategrey;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}
#normal {
  margin-top: 3%;
  padding-left: 2em;
  padding-right: 2em;
  color: gray;
  text-align: center;
  font-size: 0.7em;
  padding-bottom: 2em;
  line-height: 1.5em;
}

.why {
  font-size: 1.3em;
  line-height: 2.5em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: whitesmoke;
}
.online-banking {
  .picture {
    background: url("./images/icon-online.svg");
  }
}
.simple-budgeting {
  .picture {
    background: url("./images/icon-budgeting.svg");
  }
}
.fast-onboarding {
  .picture {
    background: url("./images/icon-onboarding.svg");
  }
}
.open-api {
  .picture {
    background: url("./images/icon-api.svg");
  }
}
.online-banking,
.simple-budgeting,
.fast-onboarding,
.open-api {
  .picture {
    margin-top: 1.5em;
    height: 5em;
    background-size: 4em;
    margin-left: 35%;
    /* transform: translateX(40%); */
    background-repeat: no-repeat;
    border-bottom: 0;
  }
}
.txt {
  padding-bottom: 1em;
  color: darkslategrey;
}
.latest-articles {
  padding-top: 5rem;
  padding-right: 1.5em;
  padding-left: 1.5em;
  background-color: rgb(250, 250, 250);
  color: hsl(233, 8%, 62%);
  .money,
  .restaurant,
  .flight,
  .celebrations {
    a {
      color: darkslategrey;
    }
    .fig {
      background-color: white;
      padding-bottom: 1em;
      font-size: 1em;
      .article-image {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        /* width: auto; */
        /* padding-top: 2em; */
        padding-bottom: 1em;
        width: 100%;
        height: 10em;
      }
      .cap {
        padding-left: 1.55rem;
        font-size: 0.8em;
        padding-bottom: 0.5em;
      }
    }

    .txt {
      background-color: white;
      padding-left: 1.5rem;
      padding-right: 1.3rem;
      font-size: 1.2em;
      padding-bottom: 0.3em;
    }
    #normal {
      background-color: white;

      color: hsl(233, 8%, 62%);
      padding-left: 1.5rem;
      padding-right: 1.3rem;
      text-align: left;
      font-size: 0.9em;
    }

    padding-bottom: 0.5em;
  }
}

.closing {
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsl(233, 26%, 24%);
  text-align: center;
  font-size: 1em;
  a {
    color: white;
  }
}

.closing .outer-div-1 .div1 {
  height: 100px;
  margin-top: 1rem;
  align-self: flex-start;
}
.closing .outer-div-1 .div1 .logo {
  margin-left: 1.6rem;
  background-image: url("./images/footer-con.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  height: 1.3rem;
  padding-bottom: 1em;
}
.closing .outer-div-1 .div1 .social-media {
  /* border: solid white; */
  margin-top: 1em;
  margin-left: 0.7rem;
  display: flex;
  p {
    display: none;
  }
  #facebook {
    background-image: url("./images/icon-facebook.svg");
    height: 1.5rem;
    width: 1.9rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
  }
  #youtube {
    background-image: url("./images/icon-youtube.svg");
    height: 1.5rem;
    width: 1.9rem;
    margin-right: 0.5em;
    background-repeat: no-repeat;
  }
  #twitter {
    background-image: url("./images/icon-twitter.svg");
    height: 1.5rem;
    width: 1.9rem;
    margin-right: 0.5em;
    background-repeat: no-repeat;
  }
  #pinterest {
    background-image: url("./images/icon-pinterest.svg");
    height: 1.5rem;
    width: 1.9rem;
    margin-right: 0.5em;
    background-repeat: no-repeat;
  }
  #instagram {
    background-image: url("./images/icon-instagram.svg");
    height: 1.5rem;
    width: 1.9rem;
    margin-right: 0.5em;
    background-repeat: no-repeat;
  }

  height: 1.3rem;
}
.closing .outer-div-2 {
  .div4 {
    .invitee {
      color: white;
      height: 1.5em;
      background: linear-gradient(
        to right,
        hsl(192, 70%, 51%),
        hsl(136, 65%, 51%)
      );
      border-radius: 25px;
      text-align: center;
      padding-top: 0.5em;
      margin-left: 1.6em;
    }
    .closing-statement {
      color: lightgray;
      font: 1.4em;
      margin-top: 1.5em;
      margin-bottom: 2em;
    }
  }
}
.About-us,
.Contact,
.Blog,
.Careers,
.Support,
.Privacy-policy {
  color: white;
  margin-bottom: 1em;
}

@media all and (min-width: 1020px) {
  body {
    background-color: rgb(250, 250, 250);
  }
  #normal {
    font-size: medium;
    color: gray;
  }

  .invite:hover,
  .invitee:hover {
    opacity: 80%;
    cursor: pointer;
  }
  .top .menu {
    height: 1em;
    font-size: 18px;
    padding-top: 0.5em;
    position: absolute;
    z-index: 0;
    top: 0em;
    display: inline-block;
    a {
      color: gray;
    }
    nav ul {
      display: inline-block;
      border-bottom: -1em;
    }
    nav ul li {
      /* background-color: black; */
      display: inline;
      margin-right: 1em;
      padding-bottom: 0.5em;
    }
    nav ul li:hover {
      a {
        color: black;
      }
      border-bottom: solid;
      border-image: linear-gradient(
          to right,
          hsl(192, 70%, 51%),
          hsl(136, 65%, 51%)
        )
        1;
    }
  }
  .top {
    background-color: white;
    margin-top: 0.5em;
    margin-bottom: 1em;
    .fig {
      z-index: 2;
    }
    #check {
      display: none;
    }
    .option {
      display: none;
    }

    position: relative;
    .invite {
      z-index: 1;
      display: block;
      position: absolute;
      top: 20%;
      right: 12%;
    }
  }
  .invite {
    height: 1.5em;
    width: 9em;
  }

  .intro {
    width: 60%;
    /* margin-top: 2em; */
    background: url("./images/image-mockups.png"),
      url("./images/bg-intro-desktop.svg");
    background-size: 48rem, 80rem;
    background-position-y: -13rem, -18rem;
    background-position-x: 14rem, 0rem;
    background-repeat: no-repeat;
    float: right;
    height: 40em;
    z-index: 2;
    position: relative;
  }

  .para1 {
    background-color: rgb(250, 250, 250);
    font-size: 1.2em;
    #heading {
      transform: translateX(0.5em);
    }
    #heading,
    #normal {
      /* border: solid black; */
      text-align: left;
    }
    #normal {
      padding-left: 1.2em;
    }
    width: 30%;
    transform: translateX(3em) translateY(3em);
    .invite {
      position: fixed;
      transform: translateX(1em);
    }
  }
  .why {
    position: relative;
    z-index: 1;
    width: 96%;
    transform: translateY(-30%);
    #normal {
      text-align: left;
      font-size: medium;
      transform: translateX(3%);
    }
    flex-wrap: nowrap;
    flex-direction: column;
    .one {
      margin-left: 2em;
      margin-right: 2em;
      width: 50%;
      #heading {
        text-align: left;
        padding-left: 0.8em;
      }
      #normal {
        padding-left: 1.4em;
        padding-right: 8em;
        color: gray;
      }
    }
    .two {
      z-index: 1;
      padding-right: 3em;
      #normal {
        padding-left: 1.5em;
        margin-bottom: 2em;
        color: gray;
      }
      margin-left: 2em;
      margin-right: 2em;
      display: flex;
      .online-banking,
      .simple-budgeting,
      .fast-onboarding,
      .open-api {
        .picture {
          transform: translateX(10%);
          /* margin-left: 2em; */
          padding-left: 0;
          border-left: 0;
        }
        .txt {
          /* border: solid black; */
          padding-top: 1em;
          text-align: left;
          padding-left: 1.7em;
          /* padding-bottom: 1em; */
        }
      }
    }
  }
  .latest-articles {
    /* border: solid; */
    font-size: 0.9em;
    position: relative;

    #heading {
      position: absolute;
      left: 2.2em;
      top: 2em;
    }
    .flexone {
      /* border: solid black; */
      display: flex;
      transform: translateY(20%);
      margin-left: 2em;
      margin-right: 6em;
    }
    .money,
    .restaurant,
    .flight,
    .celebrations {
      margin-left: 0.5em;
      margin-right: 0.5em;
      .fig .article-image {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
    .txt :hover {
      color: hsl(136, 65%, 51%);
    }
    transform: translateY(-35%);
  }

  .closing {
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: 1em;
    flex-direction: row;
    justify-content: space-around;
    .outer-div-1 {
      transform: translateX(-5em);
      text-align: left;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .div1 {
        .logo {
          transform: translateY(20%);
        }
        .social-media {
          transform: translateY(90%);
        }
      }
    }
    .outer-div-2 {
      .closing-statement,
      .invitee {
        transform: translateX(-23%);
      }
      .closing-statement {
        transform: translateX(-20%);
      }
      transform: translateY(10%);
    }
  }
  .About-us :hover,
  .Contact :hover,
  .Blog :hover,
  .Careers :hover,
  .Support :hover,
  .Privacy-policy :hover {
    color: hsl(136, 65%, 51%);
  }
}
